# Secrets Store CSI Driver Configuration
# Mounts secrets from Parameter Store and Secrets Manager as volumes

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-parameter-store
  namespace: demo
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "/${PROJECT_NAME}/database/host"
        objectType: "ssmparameter"
      - objectName: "/${PROJECT_NAME}/database/port"
        objectType: "ssmparameter"
      - objectName: "/${PROJECT_NAME}/database/name"
        objectType: "ssmparameter"
      - objectName: "/${PROJECT_NAME}/database/username"
        objectType: "ssmparameter"
      - objectName: "/${PROJECT_NAME}/database/password"
        objectType: "ssmparameter"
---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: aws-secrets-manager
  namespace: demo
spec:
  provider: aws
  parameters:
    objects: |
      - objectName: "${PROJECT_NAME}/database/credentials"
        objectType: "secretsmanager"
        jmesPath:
          - path: username
            objectAlias: db-username
          - path: password
            objectAlias: db-password
          - path: host
            objectAlias: db-host
