# External Secrets Operator Helm Values

installCRDs: true

serviceAccount:
  create: true
  name: external-secrets

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
