# Secrets Store CSI Driver Helm Values

syncSecret:
  enabled: true

enableSecretRotation: true
rotationPollInterval: 2m

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 200m
    memory: 200Mi
